.container {
  background-image: url("https://stcloudfront.qubit.tv/assets/public/qubit/qubit-ar/prod/images/logo-qubit-azul.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
}
